@tailwind base;
@tailwind components;
@tailwind utilities;

.move-up-and-down {
  animation-name: my-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.delay-1 {
  animation-delay: 300ms;
}

.delay-2 {
  animation-delay: 600ms;
}

@keyframes my-animation {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0px);
  }
}
